<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <!-- <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div> -->
      <!-- SVG separator -->
     <!--  <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div> -->
    </section>
    <section class="section">
      <div class="container" >
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-start" >
                <div class="text-left mt-5 mb-0 col-sm" >
                    <h3>Noticias</h3>
                      <hr/>
                </div>
            </div>
            
            <div class="row">
              
              <div class="col-6 ">
                <a href="">
                  <div class="card-effect">
                    <div class="img-noticia">
                      <img src="./assets/img/theme/news1.jpg" class="img-fluid img-thumbnail"> 
                    </div>
                  </div>
                  <div class="cont-noticia">
                    <div class="time-noticia">
                      <span>Hace 23&nbsp;h</span>
                    </div>
                    <h6>Producción de videojuegos y sus etapas</h6>

                    <div class="show-noticia">
                      <a href="">Leer más</a>
                    </div>
                  </div> 
                </a>
              </div>

              <div class="col-6">
                <a href="">
                  <div class="card-effect">
                    <div class="img-noticia">
                      <img src="./assets/img/theme/news2.jpg" class="img-fluid img-thumbnail"> 
                    </div>
                  </div>
                  <div class="cont-noticia">
                    <div class="time-noticia">
                      <span>Hace 23&nbsp;h</span>
                    </div>
                    <h6>Diseño de juegos y teoría de videojuegos</h6>
                    <div class="show-noticia">
                      <a href="">Leer más</a>
                    </div>
                  </div> 
                </a>
              </div>

              <div class="calendar-noticia">
                
                <hr/>
                <div class="row">
                  <a href="">
                  <div class="card-effect">
                    <div class="card-noticia mb-3">
                      <div class="row" id="card-news">
                        <div class="col-md-4">
                          <img src="./assets/img/theme/news3.jpg" class="img-fluid rounded-start " alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <div class="time-noticia">
                              <span>Hace 23&nbsp;h</span>
                            </div> 
                            <h5 class="card-title">Producción de videojuegos y sus etapas</h5>
                            <div class="show-noticia" >
                              <a href="">Leer más</a>
                            </div>                                                              
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                </a>
                </div>

                <hr/>
                <div class="row">
                  <a href="">
                  <div class="card-effect">
                    <div class="card-noticia mb-3">
                      <div class="row" id="card-news">
                        <div class="col-md-4">
                          <img src="./assets/img/theme/news4.jpg" class="img-fluid rounded-start " alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <div class="time-noticia">
                              <span>Hace 23&nbsp;h</span>
                            </div> 
                            <h5 class="card-title">Producción de videojuegos y sus etapas</h5>
                            <div class="show-noticia">
                              <a href="">Leer más</a>
                            </div>                                                              
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                  </a>
                </div>
                
                <hr/>
                <div class="row">
                  <a href="">
                  <div class="card-effect">
                    <div class="card-noticia mb-3">
                      <div class="row" id="card-news">
                        <div class="col-md-4">
                          <img src="./assets/img/theme/news1.jpg" class="img-fluid rounded-start " alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <div class="time-noticia">
                              <span>Hace 23&nbsp;h</span>
                            </div> 
                            <h5 class="card-title">Producción de videojuegos y sus etapas</h5>
                            <div class="show-noticia" >
                              <a href="">Leer más</a>
                            </div>                                                              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>

                <hr/>
                <div class="row">
                  <a href="">
                  <div class="card-effect">  
                    <div class="card-noticia mb-3">
                      <div class="row" id="card-news">
                        <div class="col-md-4">
                          <img src="./assets/img/theme/news2.jpg" class="img-fluid rounded-start " alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <div class="time-noticia">
                              <span>Hace 23&nbsp;h</span>
                            </div> 
                            <h5 class="card-title">Producción de videojuegos y sus etapas</h5>
                            <div class="show-noticia">
                              <a href="">Leer más</a>
                            </div>                                                              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
                
                <hr/>
                <div class="row">
                  <a href="">
                  <div class="card-effect">
                    <div class="card-noticia mb-3">
                      <div class="row" id="card-news">
                        <div class="col-md-4">
                          <img src="./assets/img/theme/news3.jpg" class="img-fluid rounded-start " alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <div class="time-noticia">
                              <span>Hace 23&nbsp;h</span>
                            </div> 
                            <h5 class="card-title">Producción de videojuegos y sus etapas</h5>
                            <div class="show-noticia" >
                              <a href="">Leer más</a>
                            </div>                                                              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
             
             
             
              </div>                                                                            
            </div>

            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9 show-noticia">
                  <a href="javascript:void(0)">Show more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
