<main class="profile-page">
  
  <section class="section-profile-cover section-shaped my-0">
  </section>
  <!--  [ngStyle]="getStyles()" llamo a esa funcion para que aplique estilos no se haga pequeña la ventana con un franja blanca -->
  <section class="section" [ngStyle]="getStyles()">
    <div class="container" >
      <div class="card card-profile shadow mt--300">
        <div class="px-4" id="cabeceraNoticia">
          <div class="row justify-content-start" >
            <div class="text-left mt-5 mb-0 col-sm" >
                <div class="row d-block">
                    <div class="float-md-left">
                        <h3>Noticias </h3>
                    </div>                                    
                    <div class="float-md-right">
                      <!--  onSearchChange metodo busqueda cuando presiona una tecla-->
                        <input class="form-control float-right"  (input)="onSearchChange($event.target.value)" placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">                    
                    </div>
                </div>                       
            </div>    
        </div>
         
         
        <div class="row row justify-content-center align-items-center"> 
            <div id="contenidoNoticias" class="calendar-noticia">                
             <hr/>    
              <!-- for each de las noticias a mostrar del atributo noticiasMostrar del ts -->
            <div class="row" *ngFor="let noticia of noticiasMostrar" >
              <!-- cuando se haga click en la tarjetita llama a la funcion para abrir un modal con la noticia clickiada-->
              <a (click)="openContentMostrar(contentMostrar,noticia)">
                <div class="card-effect">
                  <div class="card-noticia">
                    <div class="row" id="card-news">
                      <div class="col-md-4">
                        <img src={{noticia.img}} class="img-fluid rounded-start " alt="..."> 
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          
                          <h5 class="card-title">   {{noticia.titulo}}</h5>
                          <p>  {{noticia.descripcion_corta}}</p> 
                          <div class="time-noticia">
                            <span> {{noticia.fecha_publicacion2}}</span>
                          </div> 
                          <div class="show-noticia" >
                             <a >Leer más</a> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div> 

            </div>                                                                            
          </div> 

          
        </div>
      </div>
    </div>
  </section>




  <!-- Modal para visualizar cuando hagan click en una noticia-->
<div class="col-md-4 modalcontenido">     
  <ng-template #contentMostrar let-modal>
  <!-- <div class="modal fade" id="modal-form-editar" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true"> -->    
    <div class="card-effect">
      <div class="card-noticia">
        <div class="col" id="card-news">                    
            <div class="card-body">              
              <h5 class="card-title">   {{noticiaTmp.titulo}}</h5>
              <div class="time-noticia">
                <span> {{noticiaTmp.fecha_publicacion2}}</span>
              </div> 
              <img src={{noticiaTmp.img}} class="img-fluid rounded-start " alt="...">               
              <p>  {{noticiaTmp.descripcion}}</p>             
              <div class="text-center">                  
                <button class="btn btn-primary my-4" type="button" (click)="cerrarContentMostrar()">Salir</button>
              </div>
            </div>
          
        </div>
      </div>
    </div>
          
               
     
               
           
  

</ng-template>
</div>





</main>
