<main class="profile-page">
  
  <section class="section-profile-cover section-shaped my-0">
  </section>
  <section class="section">
    <div class="container" >
      <div class="card card-profile shadow mt--300">
        <div class="px-4" id="cabeceraNoticia">
          <div class="row justify-content-start" >
            <div class="text-left mt-5 mb-0 col-sm" >
                <div class="row d-block">
                    <div class="float-md-left">
                        <h3>Noticias</h3>
                    </div>                                    
                    <div class="float-md-right">
                      <!--  onSearchChange metodo busqueda cuando presiona una tecla-->
                        <input class="form-control float-right" ng-model="searchText" (input)="onSearchChange($event.target.value)" placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">                    
                    </div>
                </div>                       
            </div>    
        </div>
         
         
        <div class="row row justify-content-center align-items-center"> 
            <div id="contenidoNoticias" class="calendar-noticia">                
             <hr/>    
              <!-- Div forech para los campos del JSON  img,published_date,title,description_sort,} -->
            <div class="row" *ngFor="let noticia of noticiasMostrar">
              <a href="">
                <div class="card-effect">
                  <div class="card-noticia">
                    <div class="row" id="card-news">
                      <div class="col-md-4">
                        <img src={{noticia.img}} class="img-fluid rounded-start " alt="..."> 
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          
                          <h5 class="card-title">   {{noticia.title}}</h5>
                          <p>  {{noticia.description_sort}}</p> 
                          <div class="time-noticia">
                            <span> {{noticia.published_date}}</span>
                          </div> 
                          <div class="show-noticia" >
                            <a href="javascript:void(0)">Leer más</a>
                          </div>                                                              
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div> 

            </div>                                                                            
          </div> 

          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9 show-noticia">
                <a href="javascript:void(0)">Show more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
