.profile-page{
    background: black;
}

.section{
    padding-bottom: 1px;
} 

.card-profile{
    background: rgb(18, 18, 18);  
    
}

.mt--300 {
    margin-top: -450px!important;
}

.px-4{
    margin: 0px auto;
    padding: 0px;
    border: 0px;  
    width: 100%;
    background: rgb(18, 18, 18);   
        /* background-color: rgba(255, 255, 255, 0.1); */
    padding-bottom: 0px;
}

.margen{
    margin-bottom: 50px;   
}

.section{
    padding: 0px;
}

h3{
    color: orangered;
}

hr {
    /*  height: 0.5px; */
     background-color: white;
     margin-top: 0px;
     margin-bottom: 50px;
   }

img{
    width: 400px; 
}

.card-profile-image{
    vertical-align:middle;    
}

agm-map {
    height: 300px;
}
  
  .btn-warning{
      margin-top: 30px;
  }

  label{
    color: rgb(175, 113, 90);
  }

  .contactenos-image h5{
      padding: 20px;
      color: rgb(204, 95, 56);

  }

  @media(max-width:991px){
    .px-4{
        margin-top: 150px;
    }

} 

@media(max-width:991px){
    .px-4{
        margin-top: 150px;
    }

} 