<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
    </section>
    <section class="section">
      <div class="container" >
        <div class="card card-profile shadow mt--300">
          <div class="px-4 ">
              
            <div class="row justify-content-start" >
                <div class="text-left mt-5 mb-0 col-sm" >
                    <h3>Contáctenos  </h3>    
                        <hr>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="contactenos-image">
                        <a href="javascript:void(0)">
                          <img src="./assets/img/theme/news3.jpg" >
                        </a>
                      </div>
                </div>
                <div class="margen col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="Nombre" class="form-control" >
                      </div>
                      <div class="form-group">
                        <input type="text" placeholder="Apellido" class="form-control" >
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo electrónico">
                      </div>
                      <div class="form-group">
                        <input type="text" placeholder="Asunto" class="form-control" >
                      </div>
                      <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe un texto aquí ..."></textarea>
                      </div>
                      <div class="form-group text-center">
                        <button class="btn btn-warning" type="button">Enviar</button>
                      </div>
                </div>

            </div>
        

           



           

           
          </div>
        </div>
      </div>
    </section>
  </main>

