.profile-page{
    background: black;
}

.section{
    padding-bottom: 1px;
} 

.card-profile{
    background:black; 
}


.mt--300 {
    margin-top: -400px!important;
}

.px-4{
    margin: 0px auto;
    padding: 0px;
    border: 0px;  
    width: 100%;
    background-color: rgb(18, 18, 18); 
    /* background-color: rgba(255, 255, 255, 0.1); */
    padding-bottom: 0px;
}


h5{
    color: rgb(204, 95, 56);
    margin: 0px;
}

h3{
    color: white;
    margin: 0px;
}

.h6{
    color: white;
}

p{
    color: rgba(255, 255, 255, 0.64);
    padding-bottom: 20px;   
}

.section{
    padding: 0px;
}

.card-effect{
    background:rgb(18, 18, 18);
}

.card-header{
    background: rgb(18, 18, 18);;

}
.card-footer{
    background: rgb(18, 18, 18);
    padding: 0px;
    margin: 0px;
}

.card-body{
    padding: 10px;
    margin: px;
}

img{
    width: 200px;
}

.card-tittle{
    color: white;
}

.col-lg-40{
    padding: 20px;
    margin: 20px;
}

.col a{
    color: rgb(204, 95, 56);;
}

@media(max-width:991px){
    .px-4{
        margin-top: 180px;
    }

} 

@media(max-width:991px){
    .px-4{
        margin-top: 180px;
    }

} 