
<div class="container">
  <div class="text-center">
    <h1 class="display-4">Noticias</h1>
  </div>
  
  <div class="text-left">
    <button type="button" class="btn btn-primary my-4" (click)="openContentNuevo(contentNuevo)" >Crear Noticia</button>
  </div>
  <div class="row flex-lg-nowrap">
    <div class="col max-width">
      <div class="row flex-lg-nowrap">
        <div class="col-md-15">
          <div class="e-panel card">
            <div class="card-body">
            
              <div class="e-table">
                <div class="table-responsive table-lg mt-3">
                  
                  <table class="table table-bordered">
                    <thead>
                        <tr>  
                            <th class="text-center">#</th>      
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th class="max-width">Fecha Publicacion</th>
                            <th class="sortable">Estado</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr id="fila" *ngFor="let noticia of noticias ; index as i">                                                    
                        <td class="text-nowrap align-middle"> {{i+1}}</td>
                        <td class="text-nowrap align-middle">{{noticia.titulo}} </td>
                        <td class="text-nowrap align-middle"><span>{{noticia.descripcion.substring(0,20)+'...'}}</span></td>
                        <td class="text-center align-middle"><span>{{noticia.fecha_publicacion.toString().substring(0,10)}}</span></td>
                        <td class="text-center align-middle">
                          <label class="custom-toggle">
                            <input type="checkbox" value={{noticia.id_noticia}} data-toggle="modal" data-target=".bd-example-modal-sm" (click)="cambiarEstadoNoticia($event.target)" [checked]="noticia.estado">
                            <span class="custom-toggle-slider rounded-circle" ></span>
                          </label>

                        </td>
                        <td class="td-actions text-right">
                         <!--  <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " value={{noticia.id_noticia}} 
                                  data-toggle="modal" data-target="#modal-form-nuevo" >
                            <i class="ni ni-fat-add pt-1" ></i>
                          </button> -->
                          <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " value={{noticia.id_noticia}}  (click)="openContentEditar(contentEditar,noticia)"
                                  data-toggle="modal" data-target="#modal-form-editar">
                            <i class="fa fa-pencil pt-1" ></i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " value={{noticia.id_noticia}}  (click)="eliminarNoticia(noticia.id_noticia)">
                            <i class="ni ni-fat-remove pt-1"></i>
                            </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal para nuevo -->

<div class="col-md-4">   
  <ng-template #contentNuevo let-modal>
  <!-- <div class="modal fade" id="modal-form-nuevo"  tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true"> -->

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card bg-secondary shadow border-0 mb-0">
            
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1>Nueva Noticias</h1>
              </div>
             
             <!--  <form (ngSubmit)="guardarNoticia(formularioNuevo,modal-form-nuevo)" role="form" #formularioNuevo="ngForm"> -->

                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Titulo" type="text" [(ngModel)]="noticiaNueva.titulo" >                    
                  </div>                  
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" [(ngModel)]="noticiaNueva.descripcion" 
                    placeholder="Escriba Aqui la description de la noticia..."></textarea>
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-md-3 form-group">                    
                    <label class="">Fecha de Publicacion: </label>    
                  </div>            
                  <div class="col-md-3 form-group">                    
                    <input type="date"  placeholder="Fecha de Publicacion" class="form-control" [(ngModel)]="noticiaNueva.fecha_publicacion2">
                  </div>
                  <div class="col-md-1 form-group">                    
                    <label >Estado: </label> 
                  </div>  
                  <div class="col-md-3 form-group">  
                    <label class="custom-toggle">
                      <input type="checkbox" data-toggle="modal" checked [(ngModel)]="noticiaNueva.estado" >
                      <span class="custom-toggle-slider rounded-circle" ></span>
                    </label>                  
                  </div>                    
                </div>                           
                
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4" (click)="guardarNoticia()">Guardar</button>  
                  <button class="btn btn-primary my-4" type="button" (click)="cerrarContentNuevo()">Cancelar</button>                
                </div>
             
             <!--  </form> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  
  <!-- </div> -->

</ng-template>

</div>


<!-- Modal para editar -->
<div class="col-md-4">     
  <ng-template #contentEditar let-modal>
  <!-- <div class="modal fade" id="modal-form-editar" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true"> -->    
    
    <div class="modal-dialog modal-lg" id="modalcontenido">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card bg-secondary shadow border-0 mb-0">
            
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1>Editar Noticias</h1>
              </div>
             
              <!-- <form (ngSubmit)="EditarNoticia(formularioEditar)" role="form" #formularioEditar="ngForm"> -->
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <input class="form-control" placeholder="Titulo" id="titulo" name="titulo" [(ngModel)]="noticiaTmp.titulo" type="text">
                  </div>                  
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="descripcion"   [(ngModel)]="noticiaTmp.descripcion" rows="20" 
                    placeholder="Escriba Aqui la description de la noticia..." ></textarea>
                  </div>
                </div>
                <!-- <div class="row"> 
                  <div class="col-md-3 form-group">                    
                    <label class="">Imagen: </label>    
                  </div>            
                  <div class="col-md-3 form-group">                    
                    <input #file type="file" name='file' id="wizard-picture" ng2FileSelect class="showPicture" (change)="selectedFileOnChanged()">
                  </div>                
                </div>  -->
                <div class="row"> 
                  <div class="col-md-3 form-group">                    
                    <label class="">Fecha de Publicacion: </label>    
                  </div>            
                  <div class="col-md-3 form-group">                    
                      <input type="date" placeholder="Fecha de Publicacion" name="fecha_publicacion"  [(ngModel)]="noticiaTmp.fecha_publicacion2"
                      class="form-control" >
                  </div>
                  <div class="col-md-1 form-group">                    
                    <label >Estado: </label> 
                  </div>  
                  <div class="col-md-3 form-group">  
                    <label class="custom-toggle">
                      <input type="checkbox" data-toggle="modal" name="estado" [(ngModel)]="noticiaTmp.estado" >
                      <span class="custom-toggle-slider rounded-circle" ></span>
                    </label>                  
                  </div>                  
                </div> 
                <div class="text-center">
                  <button class="btn btn-primary my-4" type="button" (click)="actualizarNoticia()">Guardar</button>
                  <button class="btn btn-primary my-4" type="button" (click)="cerrarContentEditar()">Cancelar</button>
                </div>
              <!-- </form> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div>   -->

</ng-template>
</div>




<ng-template #myModalConf let-modal>
 
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Éxito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      ¿Quieres confirmar la informacion? (Mira el resultado en consola)
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('Si')">Si</button>
    </div>
  </div>
 
</ng-template>

