<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
    </section>
    <section class="section">
      <div class="container" >
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-start" >
                <div class="text-left mt-5 mb-0 col-sm" >
                    <div class="row d-block">
                        <div class="float-md-left">
                            <h3>Talleres</h3>
                        </div>                                    
                        <div class="float-md-right">
                            <input class="form-control float-right" ng-model="searchText" (input)="onSearchChange($event.target.value)"  placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">                    
                        </div>
                    </div>                       
                </div>    
            </div>
            <div>
                <hr>
            </div>

            <div class="container">
                <div class="row" id="row-card" >
                    
                    <div class="col-lg-4" *ngFor="let taller of talleresMostrar">
                        <div class="card card-effect">
                            <div class="card-header">
                                <img src={{taller.img}} class="card-img-top" class="img-fluid img-thumbnail">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title treatment">{{taller.title}} </h6>
                                <p class="card-title">{{taller.title_detalle}} </p>
                                <p class="card-text">{{taller.description_short}}</p>
                            </div>
                            <div class="card-footer text-end">    
                                <div class="row ">                                    
                                    <img src="./assets/img/icons/common/calendar.png">                                    
                                    <p class="date">{{taller.date}}</p>                                        
                                    <div class="col-md-6">
                                        <a class="pull-right" href="" >Leer más</a>                                      
                                    </div>                                                                                   
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>                
            </div>

            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <a href="javascript:void(0)">Show more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>