<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
    </section>
    <section class="section">
      <div class="container" >
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-start" >
                <div class="text-left mt-5 mb-0 col-sm" >
                    <div class="row d-block">
                        <div class="float-md-left">
                            <h3>Talleres</h3>
                        </div>                                    
                        <div class="float-md-right">
                            <input class="form-control float-right"  placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">                    
                        </div>
                    </div>                       
                </div>    
            </div>
            <div>
                <hr>
            </div>

            <div class="container">
                <div class="row" id="row-card">
                    
                    <div class="col-lg-4">
                        <div class="card card-effect">
                            <div class="card-header">
                                <img src="./assets/img/theme/unreal1.jpeg" class="card-img-top" class="img-fluid img-thumbnail">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title treatment">TALLER UNREAL</h6>
                                <p class="card-title">Game design y teoría de videojuegos</p>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium unde</p>
                            </div>
                            <div class="card-footer text-end">    
                                <div class="row ">                                    
                                    <img src="./assets/img/icons/common/calendar.png">                                    
                                    <p >14/05/2021</p>                                        
                                    <div class="col-md-6">
                                        <a class="pull-right" href="" >Leer más</a>                                      
                                    </div>                                                                                   
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="col-lg-4">
                        <div class="card card-effect">
                            <div class="card-header">
                                <img src="./assets/img/theme/unity1.jpg" class="card-img-top" class="img-fluid img-thumbnail">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title treatment">TALLER UNREAL</h6>
                                <p class="card-title">Game design y teoría de videojuegos</p>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium unde</p>
                            </div>
                            <div class="card-footer text-end">    
                                <div class="row ">                                    
                                    <img src="./assets/img/icons/common/calendar.png">                                    
                                    <p >14/05/2021</p>                                        
                                    <div class="col-md-6">
                                        <a class="pull-right" href="" >Leer más</a>                                      
                                    </div>                                                                                   
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="col-lg-4">
                        <div class="card card-effect">
                            <div class="card-header">
                                <img src="./assets/img/theme/unreal4.jpg" class="card-img-top" class="img-fluid img-thumbnail">
                            </div>
                            <div class="card-body">
                                <h6 class="card-title treatment">TALLER UNREAL</h6>
                                <p class="card-title">Game design y teoría de videojuegos</p>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium unde</p>
                            </div>
                            <div class="card-footer text-end">    
                                <div class="row ">                                    
                                    <img src="./assets/img/icons/common/calendar.png">                                    
                                    <p >14/05/2021</p>                                        
                                    <div class="col-md-6">
                                        <a class="pull-right" href="" >Leer más</a>                                      
                                    </div>                                                                                   
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="row" id="row-card">
                        <!-- <h3>Taller1</h3> -->
                        <div class="col-lg-4">
                            <div class="card card-effect">
                                <div class="card-header">
                                    <img src="./assets/img/theme/unity3.jpg" class="card-img-top" class="img-fluid img-thumbnail">
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title treatment">TALLER UNREAL</h6>
                                    <p class="card-title">Game design y teoría de videojuegos</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium unde</p>
                                </div>
                                <div class="card-footer text-end">    
                                    <div class="row ">                                    
                                        <img src="./assets/img/icons/common/calendar.png">                                    
                                        <p >14/05/2021</p>                                        
                                        <div class="col-md-6">
                                            <a class="pull-right" href="" >Leer más</a>                                      
                                        </div>                                                                                   
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-lg-4">
                            <div class="card card-effect">
                                <div class="card-header">
                                    <img src="./assets/img/theme/unreal1.jpeg" class="card-img-top" class="img-fluid img-thumbnail">
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title treatment">TALLER UNREAL</h6>
                                    <p class="card-title">Game design y teoría de videojuegos</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium unde</p>
                                </div>
                                <div class="card-footer text-end">    
                                    <div class="row ">                                    
                                        <img src="./assets/img/icons/common/calendar.png">                                    
                                        <p >14/05/2021</p>                                        
                                        <div class="col-md-6">
                                            <a class="pull-right" href="" >Leer más</a>                                      
                                        </div>                                                                                   
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-lg-4">
                            <div class="card card-effect">
                                <div class="card-header">
                                    <img src="./assets/img/theme/unity3.jpg" class="card-img-top" class="img-fluid img-thumbnail">
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title treatment">TALLER UNREAL</h6>
                                    <p class="card-title">Game design y teoría de videojuegos</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium unde</p>
                                </div>
                                <div class="card-footer text-end">    
                                    <div class="row ">                                    
                                        <img src="./assets/img/icons/common/calendar.png">                                    
                                        <p >14/05/2021</p>                                        
                                        <div class="col-md-6">
                                            <a class="pull-right" href="" >Leer más</a>                                      
                                        </div>                                                                                   
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>  
            </div>
            </div>

            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <a href="javascript:void(0)">Show more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>