<main>
    <div class="d-flex">
        <div id="sidebar-container" class="sidebar">
            <div class="logo">
                <h2>GameTopia EC</h2>
            </div>
            <div class="usuario">
                <h4>Bienvenido</h4>
                <h6>{{user.nombre}}</h6>
            </div>
            <div class="menu">
                <a class="d-block p-3 ligth enlaces" (click)="mostrarTablero()"><img src="./assets/img/icons/common/dashboard.svg"/>Tablero</a>
                <a class="d-block p-3 ligth enlaces" ><img src="./assets/img/icons/common/people.svg"/>Usuarios</a>
                <a class="d-block p-3 ligth enlaces" (click)="mostrarNoticiasAdmin()"><img src="./assets/img/icons/common/newspaper.svg"/>Noticias</a>
                <a class="d-block p-3 ligth enlaces"><img src="./assets/img/icons/common/school.svg"/>Talleres</a>
                <a class="d-block p-3 ligth enlaces"><img src="./assets/img/icons/common/event.svg"/>Eventos</a>
                <a class="d-block p-3 light enlaces" (click)="mostrarEstadisticas()"><img src="./assets/img/icons/common/trending.svg"/>Estadisticas</a>
                <a class="d-block p-3 light enlaces"><img src="./assets/img/icons/common/person.svg"/>Perfil</a>
                <a class="d-block p-3 ligth enlaces"><img src="./assets/img/icons/common/settings.svg"/>Reportes</a>
                <a class="d-block p-3 ligth enlaces" (click)="logout()"><img src="./assets/img/icons/common/logout.svg"/>Salir</a>
            </div>
        </div>

        <ng-template appDynamicHost></ng-template>

    </div>
</main>
