<main>
    <div class="d-flex">
        <div id="sidebar-container" class="sidebar">
            <div class="logo">
                <h4>GameTopia EC</h4>
            </div>
            <div class="menu">
                <a class="d-block p-3 ligth" (click)="mostrarTablero()"><img src="./assets/img/icons/common/dashboard.svg"/>Tablero</a>
                <a class="d-block p-3 ligth" ><img src="./assets/img/icons/common/people.svg"/>Usuarios</a>
                <a class="d-block p-3 ligth" (click)="mostrarNoticiasAdmin()"><img src="./assets/img/icons/common/peopl.svg"/>Noticias</a>
                <a class="d-block p-3 ligth"><img src="./assets/img/icons/common/peopl.svg"/>Talleres</a>
                <a class="d-block p-3 ligth"><img src="./assets/img/icons/common/peopl.svg"/>Eventos</a>
                <a class="d-block p-3 light" (click)="mostrarEstadisticas()"><img src="./assets/img/icons/common/trending.svg"/>Estadisticas</a>
                <a class="d-block p-3 light"><img src="./assets/img/icons/common/person.svg"/>Perfil</a>
                <a class="d-block p-3 ligth"><img src="./assets/img/icons/common/settings.svg"/>Configuración</a>
                <a href="#"class="d-block p-3 ligth"><img src="./assets/img/icons/common/logout.svg"/>Salir</a>
            </div>
        </div>

        <ng-template appDynamicHost></ng-template>

    </div>
</main>
