
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Perfil de Usuario</h1>
        </div>
    </div>    
    <div class="row">
     <div class="col-3">
        <h6>Nombre: </h6>
        
     </div>
     <div >
        <p>{{user.nombre}}</p>
    </div>
   </div>
   
   <div class="row">
    <div class="col-3">
       <h6>Correo: </h6>
       
    </div>
    <div  >
       <p>{{user.correo}}</p>
   </div>
  </div>

  <div class="row">
    <div class="col-3">
       <h6>Rol: </h6>
       
    </div>
    <div >
       <p>{{user.rol}}</p>
   </div>
  </div>

 </div>


