<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <!-- <img src="./assets/img/brand/GT-Logo.png" style="width: 400px;" class="img-fluid"> -->
              <!-- <p class="lead text-white">A beautiful Design System for Bootstrap 4 and Angular 7. It's Free and Open Source.</p> -->
             <!--  <div class="btn-wrapper mt-5">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Angular</span>
                </a>
                <a href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Star us</span> on Github</span>
                </a>
              </div> -->
              <!-- <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by</small>
                <img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;">
              </div> -->
            </div>             
          </div>
        </div>
               
      </div>
    
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
   
    <section class="section">
      <div class="container" >
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="container-home">
              <div class="introduccion">
                <div class="intro-image">
                  <img src="./assets/img/extra/taller3.jpg">
                </div>
                <div class="intro-contenido">
                  <h1>
                    Bienvenido a la Mayor Experiencia en Videojuegos en Ecuador
                  </h1>
                  <br>
                  <p>Un sitio donde puedas encontrar todo lo referente a la industria de videojuegos</p>
                </div>
              </div>
        
              <div class="caracteristicas">
              <div class="card">
                <div class="image-card">
                  <img src="./assets/img/extra/taller2.jpg">
                </div>
                <div class="contenido-card">
                  <h2>Juegos</h2>
                  <p>
                    Todo lo que necesitas entender en las etapas de creacion de un videojuego
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="image-card">
                  <img src="./assets/img/extra/taller1.jpg" >
                </div>
                <div class="contenido-card">
                  <h2>Talleres</h2>
                  <p>
                    Obten informacion acerca de cursos y talleres para desarrollar tu videojuego
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="image-card">
                  <img src="./assets/img/extra/taller4.jpg" >
                </div>
                <div class="contenido-card">
                  <h2>Eventos</h2>
                  <p>
                    Participa en eventos con expositores de todo el mundo
                  </p>
                </div>
              </div>
              
              </div>
        
              <div class="medios">
              <div class="big">
                <img src="./assets/img/extra/unrealdemo.png">
                <div class="medios-contenido-big">
                  Obten el poder de todo un ecosistema de herramientas junto a una comunidad que esta en crecimiento
                </div>
              </div>
              <div class="small">
                <div class="one">
                  <img src="./assets/img/extra/unitydemo.png">
                  <div class="medios-contenido-small-one">
                    Has realidad tu visión y desarrollara tu videojuego
                  </div>
                </div>
                <div class="two">
                  <img src="./assets/img/extra/unreal5.gif">
                  <div class="medios-contenido-small-two">
                    Unete a nuestra comunidad y interactua con mas desarrollares.
                  </div>
                </div>
              </div>
              
        
              </div>
            </div>         
          </div>
        </div>
      </div>
    </section>
  </div> 
  <!-- <app-sections></app-sections> -->
</main>
