<head>
	<title>Special Offers</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="./eventos.component.css">
</head>

<header>

</header>
<div class="content"><div class="ic">February 10, 2014!</div>
<div class="container_12">
	<div class="grid_8">
		<h3>Eventos</h3>
		<div class="block2">
			<img src="./img/ubuntu.jpg" alt="" class="img_inner fleft">
			<div class="extra_wrapper">
				<div class="text1 col1"><a href="#">Guayaquil, Sala de convenciones</a></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac sodales justo. Vestibulum eget orci dapibus magna lobortis varius. Nulla viverra malesuada odio eu hendrerit. Praesent id felis non urna iaculis porta. Nulla nec dui enim. Nullam et dictum mauris. Aenean lobortis pretium neque, et lacinia sapien egestas semper. Fusce tincidunt leo purus, a vulputate neque tristique vel. Vivamus accumsan ultrices eleifend. Vestibulum a sapien accumsan, tristique lorem et, dapibus mauris. Donec efficitur pulvinar neque, ut porttitor libero dapibus sit amet. Aenean in consectetur dolor. Aliquam nisl tortor, finibus sit amet vestibulum in, ornare sit amet erat.
				<br>
				<a href="#" class="link1">Leer más</a>
			</div>
		</div>
		<div class="block2">
			<img src="./img/ubuntu.jpg" alt="" class="img_inner fleft">
			<div class="extra_wrapper">
				<div class="text1 col1"><a href="#">Quito</a></div>
				<p>Cras diam erat, tincidunt quis tristique nec, sollicitudin sed felis. Phasellus malesuada semper tortor eget hendrerit. Nullam pulvinar placerat dolor, elementum tincidunt arcu ullamcorper sit amet. Phasellus tempor nisl eget interdum ullamcorper. Praesent accumsan, purus at pellentesque varius, sapien dolor lacinia felis, hendrerit dictum erat metus at lorem. Ut vel magna maximus lacus ullamcorper placerat id at nunc.
				<br>
				<a href="#" class="link1">Leer más</a>
			</div>
		</div>
		<div class="block2">
			<img src="./img/ubuntu.jpg	" alt="" class="img_inner fleft">
			<div class="extra_wrapper">
				<div class="text1 col1"><a href="#">Duran</a></div>
				<p>Cras facilisis, nulla vel viverra auctor, leo gna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus diam, a celerisque eros convallis accumsan. </p>Maecenas vehicula egestas venenatis. Duis massa elit, auctor non pellentesque vel
				<br>
				<a href="#" class="link1">Leer más</a>
			</div>
		</div>
	</div>
	<div class="grid_3 prefix_1">
		<h5>Eventos Futuros</h5>
		<ul class="list">
			<li><a href="#">Salinas</a></li>
			<li><a href="#">Manabi</a></li>
			<li><a href="#">Guayaquil Espol</a></li>
			<li><a href="#">Guayaquil Catolica</a></li>
			
		</ul>
		<a href="#" class="link1">VIEW A<span class="low">ll</span></a>
	</div>
</div>
</div>