
<body>
  
	<!--==========================
	    Intro Section
	============================-->
	  

  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Crea tu<br><span>videojuego</span> con Scratch</h1>
      <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>

        <ul class="menu">
          <li>
            <a href="#slide1">1</a>
          </li>
          <li>
            <a href="#slide2">2</a>
          </li>
           <li>
            <a href="#slide3">3</a>
          </li>
        </ul>
        
    </div>
  </section>

  <main id="main">
	
	<!--==========================
      About Section
    ============================-->

    <section id="about">
		<div class="container">
		  <div class="row">
			<div class="col-lg-6">
			  <h2>About The Event</h2>
			  <p>Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut
				accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in
				est ut optio sequi unde.</p>
			</div>
			<div class="col-lg-3">
			  <h3>Where</h3>
			  <p>Downtown Conference Center, New York</p>
			</div>
			<div class="col-lg-3">
			  <h3>When</h3>
			  <p>Monday to Wednesday<br>10-12 December</p>
			</div>
		  </div>
		</div>
	  </section>


	  <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Event Speakers</h2>
          <p>Here are some of our speakers</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6" *ngFor="let evento of eventosMostrar">  
            <div class="speaker">
              <img src={{evento.img}} alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">{{evento.nombre}}</a></h3>
                <p>Quas alias incidunt</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

    </section>



</main>

 <!-- JavaScript Libraries -->
 <script src="lib/jquery/jquery.min.js"></script>
 <script src="lib/jquery/jquery-migrate.min.js"></script>
 <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="lib/easing/easing.min.js"></script>
 <script src="lib/superfish/hoverIntent.js"></script>
 <script src="lib/superfish/superfish.min.js"></script>
 <script src="lib/wow/wow.min.js"></script>
 <script src="lib/venobox/venobox.min.js"></script>
 <script src="lib/owlcarousel/owl.carousel.min.js"></script>

 <!-- Contact Form JavaScript File -->
 <script src="contactform/contactform.js"></script>

 <!-- Template Main Javascript File -->
 <script src="js/main.js"></script>




</body>